# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyTorch / model weights
*.pth
*.pt

# Logs
*.log

# VSCode settings
.vscode/
